
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container my-5">
  <div class="row justify-content-md-center">
     <div class="col-lg-8">
      <h2>Sample information</h2>
      <p>Collect and verify participant information</p>
    <form id="details" class="form form-details" method="POST" action="" role="form">
           {{ form.csrf_token }}
          <div class="form-group">
                {{form.barcode.label}}
                {{form.barcode(placeholder="xxxxxxxxxxxxxxxx_#", value=barcode, class="form-control")}}
          </div>
          <div class="form-group">
                {{form.consent_id.label}}
                {{form.consent_id(placeholder="Consent_id", value=consent_id, class="form-control")}}
          </div>
            <p><input class="btn btn-dark pull-left" type="submit" value="Next &raquo;"><a class="btn btn-danger pull-right" href="{{ url_for('manage.sample') }}">Cancel <i class="fa fa-close"></i></a></p>
    </form>

   </div>
  </div><!-- /.row -->
</div>
{% endblock %}

