
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

      <h1 class="display-5">Welcome to the Georgia Tech COVID On Campus Survey</h1>
        <div class="row display-flex">
            <div class="col-lg-8">
                <p>In order to help keep our campus community healthy and safe,
                    we are making it <strong>free and easy for all</strong> members of the Georgia Tech
                    community -- Students, Staff, and Faculty -- to get tested for
                    COVID-19.
                </p>
                <p>
                    Please create your account and sign in above, read the Consent, and
                    then register your sample using one of the two options below.
                    Return to the registration page the day after you donate your sample,
                    to see your results.
                </p>
                <p>Watch our short introductory video and learn more</p>
                <p><a href="{{ url_for('public.about') }}" class="btn btn-primary btn-large">FAQ &raquo;</a></p>
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</div><!-- /.jumbotron -->


<div class="container" id="info">
  <div class="row display-flex">
    <div class="col-lg-4">
      <h2><i class="fa fa-medkit"></i> Sample Using a Kit on Your Own</h2>
        <p>Register here if you have been given a kit to provide a
            saliva sample in, either at your on-campus residence or
            place of work.  You will need to sign the consent,
            enter the barcode on the sample vial, and fill in our
            Qualtrics survey.
                 </p>
        <p><a href="{{ url_for('public.register') }}" class="btn btn-outline-primary">Register your tube</a></p>
    </div>
    <div class="col-lg-4">
        <h2><i class="fa fa-qrcode"></i> Sign up to get tested</h2>
        <p>
            Register here if you intend to visit a testing location on
            campus to donate your sample in person.  You will need to
            sign the consent, apply for an appointment time, and fill
            in our Qualtrics survey.  We’ll send you an email reminder
            once you’re done.
        </p>
        <p><a href="{{ url_for('public.register') }}" class="btn btn-outline-primary">Join the study</a></p>
    </div>
    <div class="col-lg-4">
        <h2><i class="fa fa-magic"></i> Testing results</h2>
        <style type="text/css">
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;border-style:solid;border-width:1px; width:100%}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:0px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-y6me{background-color:#212529;color:#efefef;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:center;vertical-align:top; width:30%}
</style>
        <table class="tg">
<tbody>
  <tr>
    <td class="tg-y6me">Total tests administered</td>
    <td class="tg-0lax">{{ total }}</td>
  </tr>
  <tr>
    <td class="tg-y6me">Total positive tests</td>
    <td class="tg-0lax">{{ positive }} ({{ "%.1f" | format(positive/total*100) }}%)</td>
  </tr>
  <tr>
    <td class="tg-y6me">Total negative tests</td>
    <td class="tg-0lax">{{ negative }} ({{ "%.1f" | format(negative/total*100) }}%)</td>
  </tr>
</tbody>
</table>
        <p>Please click below to access summary results
            which will be updated daily.</p>
        <p><a href="{{ url_for('public.dashboard') }}" class="btn btn-outline-primary">Explore the data</a></p>
        {#        <p><a href="#" class="btn btn-outline-primary">Explore the data</a></p>#}
    </div>
{% endblock %}

