
{% extends "layout.html" %}
{%  block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
{%  endblock %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">Password reset</h1>
    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
           {{ reset.csrf_token }}
          <div class="form-group">
                {{reset.code.label}}
                {{reset.code(placeholder="Code", value=code, class="form-control")}}
        </div>
        <div class="form-group">
                {{reset.password.label}}
                {{reset.password(placeholder="Password", class_="form-control")}}
        </div>
        <div class="form-group">
                {{reset.confirm.label}}
                {{reset.confirm(placeholder="Password (again)", class_="form-control")}}
            </div>
            <p><input class="btn btn-primary" type="submit" value="Reset"></p>
    </form>
</div>
{% endblock %}


